
/* positioning */

.bodyreset {
    margin-left: 0;
    margin-right: 0;
}

.titlecenter {
    margin-top: calc(50vh - 1.4em - 28px);
    padding-right: 5px;
    width: 100vw;
    height: auto;
}

.menucenter {
    position: absolute;
    left: calc(50vw - 136px);
    height: auto;
}

.topmenu {
    position: absolute;
    right: 5px;
    height: auto;
}

.post_mainscreen {
    position: absolute;
    top: 100vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #a5f3ff;
}


/* text styles */

@font-face {
    font-family: 'MedievalSharp';
    src: url(https://fonts.gstatic.com/s/medievalsharp/v14/EvOJzAlL3oU5AQl2mP5KdgptMqZwMinUPDhdog.woff2) format('woff2');
    src: url(https://fonts.gstatic.com/s/medievalsharp/v14/EvOJzAlL3oU5AQl2mP5KdgptMqhwMinUPDg.woff2) format('woff2');
}

h1 {
    font-family: 'MedievalSharp';
    font-weight: normal;
    text-align: center;
    color:#000000;
    font-size: 42px;
}

li {
    font-family: 'MedievalSharp'; /* may use different font */
    font-weight: normal;
    font-size: 20px;
    list-style: none;
    color:#000000;

    display: inline; /* flat list */
    padding: 8px;
}

@media only screen and (max-aspect-ratio: 5/8), (max-width: 290px) {
    h1 {
        font-size: 10vw;
    }
    .menucenter {
        left: 0px;
    }
    li {
        font-size: 4.76vw;
        display: block;
    }
}

a {
    color:#000000;
    text-decoration: none;
}
a:hover {
    color:#FF0000;
}
a:active {
    color:#FFFF00;
}

.noselect {
-webkit-user-select: none; /* safari */        
-moz-user-select: none; /* firefox */
-ms-user-select: none; /* ie10+/edge */
user-select: none; /* standard */
}
